nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(26, 23, 23);
    position: relative;
    width: 100vw;
    height: 10vh;
    color: white;
    z-index: 1;
}
nav> div > h1{
    color: #fed136;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40vw;
    list-style: none;
}
h2{
    color: white;
    margin-left: 8vw;
}
.desktop:hover, h2:hover{
    color: #fed136;
    cursor: pointer;
}
.menu-button{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fed136;
    border-radius: 10%;
}
img{
    width: 20px;
    height: 20px;
    filter: invert(1);
}
.mobile, .default{
    display: none;
}
.default, .menu-open, .menu-closed{
    width: 100vw;
    height: 50vh;
    background-color: rgb(26, 23, 23);
    position: fixed;
    top: 0px;
    transform: translateY(-610px);
    z-index: 0;
}
.menu-open{
    display: block;
    animation: open .5s linear forwards;
}
.menu-closed{
    display: block;
    animation: close .5s linear forwards;
}

@keyframes open {
    to{
        transform: translateY(70px);
    }
}
@keyframes close{
    from{
        transform: translateY(70px);
    }
    to{
        transform: translateY(-610px);
    }
}

@media(max-width:996px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}
@media(min-width: 997px){
    .default, .menu-closed, .menu-open{
        display: none;
    }
}
